asn1crypto==0.24.0
backports-abc==0.5
backports.shutil-get-terminal-size==1.0.0
bcrypt==3.1.6
bleach==3.1.1
certifi==2018.1.18
cffi==1.12.1
chardet==3.0.4
configparser==3.5.0
cryptography==2.1.4
decorator==4.1.2
defusedxml==0.5.0
duplicity==0.7.17
entrypoints==0.2.3
enum34==1.1.6
fasteners==0.12.0
functools32==3.2.3.post2
futures==3.2.0
idna==2.6
ipaddress==1.0.17
ipykernel==4.10.0
ipython==5.5.0
ipython-genutils==0.2.0
ipywidgets==7.4.2
Jinja2==2.10
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==5.2.0
jupyter-core==4.4.0
keyring==10.6.0
keyrings.alt==3.0
lockfile==0.12.2
MarkupSafe==1.0
mistune==0.8.4
monotonic==1.0
nbconvert==5.4.0
nbformat==4.4.0
notebook==5.7.0
pandocfilters==1.4.2
pathlib2==2.3.0
pexpect==4.2.1
pickleshare==0.7.4
prometheus-client==0.4.2
prompt-toolkit==1.0.15
ptyprocess==0.6.0
pycairo==1.16.2
pycparser==2.19
pycrypto==2.6.1
Pygments==2.2.0
pygobject==3.26.1
pyOpenSSL==17.5.0
python-dateutil==2.7.5
pyxdg==0.25
pyzmq==17.1.2
qtconsole==4.4.2
requests==2.18.4
scandir==1.7
SecretStorage==2.3.1
Send2Trash==1.5.0
simple-crypt==4.1.7
simplegeneric==0.8.1
singledispatch==3.4.0.3
six==1.11.0
terminado==0.8.1
testpath==0.4.2
tornado==5.1.1
traitlets==4.3.2
urllib3==1.22
wcwidth==0.1.7
webencodings==0.5.1
widgetsnbextension==3.4.2
